# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry
poetry.lock

# Virtual environments
.env/
.venv/
env/
venv/
ENV/

# VSCode
.vscode/

# macOS
.DS_Store

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log
